<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/ip_geomap.png" type="png">
    <link rel="stylesheet" href="../style/style.css">
    <title>IP GeoMap</title>
</head>

<script type="module" src="../js/index.js"></script>

<body>

    <header>
        <nav class="nav">
            <a href="./ip_geomap.html"><span>IP GeoMap</span></a>
            <div class="nav-bar">
                <button><img src="../images/moon.png" alt="Modo-Claro-Oscuro"> </button>
            </div>
        </nav>
    </header>

    <main>
        <section class="content">
            <div class="search">
                <!-- banner con buscador y botón para buscar IP -->
                <input type="text" class="ipsearch"  placeholder="Buscar IP o Dominio">
                <button class="bsearch" type="submit"><img src="../images/search_black.png" alt="Buscar"></button>
            </div>
        </section>
        <section>
            <div class="content2">
                <div class="inf">
                    <!-- Metadatos -->
                    <div>
                    </div>
                </div>
                <div class="map">
                    <!-- Mapa -->
                    <div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <span>IP GeoMap</span>
        <section class="members">
            <div class="github">
                <a href="https://github.com/JMCA2805">Jose M. Camacho: <img class="github" src="../images/github_black.png" alt="Logo de Github"> JMCA2805 </a>
            </div>
            <div class="github">
                <a href="https://github.com/gabrielcalderon16">Gabriel Calderon: <img class="github" src="../images/github_black.png" alt="Logo de Github"> gabrielcalderon16</a>
            </div>
        </section>
        <div class="copy">
            <small>
                IP GeoMap &copy; 2023
            </small>
        </div>
    </footer>

</body>

</html>