<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/ip_geomap.png" type="png">
    <link rel="stylesheet" href="../style/style.css">
    <title>IP GeoMap</title>
</head>

<script type="module" src="../js/index.js"></script>

<body>

    <header>
        <nav>
            <span>IP GeoMap</span>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <!-- banner con buscador y botón para buscar IP -->
            </div>
        </section>
        <section>
            <div>
                <div>
                    <!-- Metadatos -->
                </div>
                <div>
                    <!-- Mapa -->
                </div>
            </div>
        </section>
    </main>

    <footer>
        <span>IP GeoMap</span>
        <section class="members">
            <div class="github">
                <a href="https://github.com/JMCA2805">Jose M. Camacho: <img class="github" src="../images/github_black.png" alt="Logo de Github"> JMCA2805 </a>
            </div>
            <div class="github">
                <a href="https://github.com/gabrielcalderon16">Gabriel Calderon: <img class="github" src="../images/github_black.png" alt="Logo de Github"> gabrielcalderon16</a>
            </div>
        </section>
        <small>
            IP GeoMap &copy; 2023
        </small>
    </footer>

</body>

</html>