<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP GeoMap</title>
    <link rel="stylesheet" href="../style/style.css">
    <script type="module" src="../js/index.js"></script>
    <link rel="shortcut icon" href="../images/ip_geomap.png" type="png">
</head>

<body>

    <header>

    </header>

    <main>

    </main>

    <footer>

    </footer>

</body>

</html>